# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints/

# Data
*.csv
*.h5
*.hdf5
*.pkl
*.pickle
*.json

# Logs
*.log

# Model files
*.h5
*.hdf5
